<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | CSS Advance</title>
    <link rel="stylesheet" href="/public/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/public/assert/logo1.png" type="image/x-icon">

</head>

<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/public/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.introduction-to-css">Introduction to CSS and its syntax</a></li>
                <li><a class="a" href="/blog.selectors-and-specticificity">Selectors and specificity</a></li>
                <li><a class="a" href="/blog.box-model">Box model</a></li>
                <li><a class="a" href="/blog.display-and-positioning">Display and positioning</a></li>
                <li><a class="a" href="/blog.css-typrography">CSS typography</a></li>
                <li><a class="a" href="/blog.colors-and-backgrounds">Colors and backgrounds</a></li>
                <li><a class="a" href="/blog.css-layout-techniques">CSS layout techniques</a></li>
                <li><a class="a" href="/blog.media-queries">Responsive design with media queries</a></li>
                <li><a class="a" href="/blog.css-frameworks">CSS frameworks like Bootstrap</a></li>
                <li><a class="a" href="/blog.css-preprocessors">CSS preprocessors like Sass and LESS</a></li>
                <li><a class="a" href="/blog.css-animations">CSS animations and transitions</a></li>
                <li><a class="a" href="/blog.css=naming-convention">CSS best practices and naming conventions</a></li>
                <li><a class="a" href="/blog.debugging-troubleshooting ">Debugging and troubleshooting CSS</a></li>
                <li><a class="a" href="/blog.browser-compatibility">Browser compatibility</a></li>
                <li><a class="a" href="/blog.performance-optimization">Performance optimization</a></li>
                <li><a class="a" href="/blog.css-flexbox">CSS Flexbox</a></li>
                <li><a class="a" href="/blog.css-grid">CSS Grid</a></li>
                <li><a class="a" href="/blog.css-advance">CSS Advance</a></li>

            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic18">
                <h1 id="main_heading">CSS Animations and Transitions</h1>
                <h2>Animations and Transitions</h2>
                <p>Animations and transitions can add an extra level of interactivity and engagement to your
                    website. With CSS, you can create smooth and fluid animations that enhance the user experience.
                </p>
                <p>Some key properties to use for animations and transitions are:</p>
                <ul>
                    <li>animation-name</li>
                    <li>animation-duration</li>
                    <li>animation-timing-function</li>
                    <li>animation-delay</li>
                    <li>animation-iteration-count</li>
                    <li>transition-property</li>
                    <li>transition-duration</li>
                    <li>transition-timing-function</li>
                    <li>transition-delay</li>
                </ul>
                </section>
                <section id="flexbox">
                    <h2>Flexbox</h2>
                    <p>Flexbox is a powerful layout system that can simplify your CSS code and help you create more
                        dynamic and responsive layouts.</p>
                    <p>Some key properties to use for flexbox are:</p>
                    <ul>
                        <li>display: flex;</li>
                        <li>flex-direction</li>
                        <li>justify-content</li>
                        <li>align-items</li>
                        <li>flex-wrap</li>
                        <li>flex-basis</li>
                        <li>flex-grow</li>
                        <li>flex-shrink</li>
                    </ul>
                </section>
                <section id="grid">
                    <h2>Grid</h2>
                    <p>Grid is another powerful layout system that allows you to create complex, multi-dimensional
                        layouts with ease.</p>
                    <p>Some key properties to use for grid are:</p>
                    <ul>
                        <li>display: grid;</li>
                        <li>grid-template-columns</li>
                        <li>grid-template-rows</li>
                        <li>grid-gap</li>
                        <li>grid-column-start</li>
                        <li>grid-column-end</li>
                        <li>grid-row-start</li>
                        <li>grid-row-end</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</body>

</html>