<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Introduction</title>
    <link rel="stylesheet" href="/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/assert/logo1.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
                <title>Html Introduction</title>
                <h1 id="main_heading">Introduction To HTML</h1>
                <h2>What is HTML?</h2>
                <p>HTML, or Hypertext Markup Language, is the standard markup language used to create web pages. It
                    provides the structure and content of a webpage, including text, images, videos, and links. HTML is
                    a code that is interpreted by web browsers to display web pages on the internet.</p>

                <h2>Why is HTML Important?</h2>
                <p>HTML is important because it is the foundation of every webpage. Without HTML, web pages would not
                    exist. HTML is also essential for search engine optimization, as search engines use HTML to
                    understand the content and structure of a webpage.</p>

                <h2>How Can You Use HTML?</h2>
                <p>You can use HTML to create your own web pages, including personal websites, blogs, and e-commerce
                    sites. To use HTML, you will need a text editor to write the code, and a web browser to preview the
                    webpage.</p>

                <h2>How Does HTML Work?</h2>
                <p>HTML uses a series of tags to define the structure and content of a webpage. These tags are enclosed
                    in angle brackets, like this: &lt;tag&gt;. Tags can have attributes, which provide additional
                    information about the content of the tag. When a web browser reads an HTML document, it interprets
                    the tags and displays the content of the webpage according to the structure defined by the tags.</p>

                <div class="code-block">
                    <h2>Html Example</h2>
                    <pre>&lt;!DOCTYPE html&gt;<br>&lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;My Web Page&lt;/title&gt;<br>&lt;/head&gt;<br>&lt;body&gt;<br>&lt;h1&gt;Welcome to my web page!&lt;/h1&gt;<br>&lt;p&gt;This is some sample text.&lt;/p&gt;<br>&lt;/body&gt;<br>&lt;/html&gt;<br></pre>
                </div>

                <img style="width:50%; height:50%"
                    src="https://th.bing.com/th/id/R.ed08e01322359df784b0d2d80e2ee1a2?rik=%2fUpH9ihq8xHKNw&riu=http%3a%2f%2fwww.jonrognerud.com%2fwp-content%2fuploads%2f2012%2f10%2fhtml-structure-basic-tags.gif&ehk=ZC0BJPwDZTfqCEM0OunU2SwIy4jgq5z7ftRaWF3aLRY%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
                    alt="html code explaintion">
        </div>
    </div>
</body>
</html>