<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Basic</title>
    <link rel="stylesheet" href="/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/assert/logo1.png" type="image/x-icon">

</head>
<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
                <title>html basics</title>
                <h1 id="main_heading">HTML Basics</h1>
                <h2>Basics of HTML </h2>
                <p>HTML documents are structured using tags. A tag is a keyword enclosed in angle brackets that
                    specifies how text should be displayed on a web page. The basic structure of an HTML document
                    consists of an opening tag, the content, and a closing tag. For example, the <code>&lt;p&gt;</code>
                    tag is used to define a paragraph of text:</p>
                <pre><code>&lt;p&gt;This is a paragraph of text.&lt;/p&gt;</code></pre>
                <p>HTML documents also have a head section and a body section. The head section contains metadata about
                    the document, such as the title and links to stylesheets, while the body section contains the
                    content of the document.</p>
                <h2>Common HTML Tags</h2>
                <p>HTML has many tags that can be used to structure content and add meaning to web pages. Here are some
                    of the most commonly used tags:</p>
                <p>

                <ul>
                    <li><code>&lt;h1&gt;</code> - Defines a heading</li>
                    <li><code>&lt;p&gt;</code> - Defines a paragraph</li>
                    <li><code>&lt;a&gt;</code> - Defines a hyperlink</li>
                    <li><code>&lt;img&gt;</code> - Defines an image</li>
                    <li><code>&lt;ul&gt;</code> - Defines an unordered list</li>
                    <li><code>&lt;ol&gt;</code> - Defines an ordered list</li>
                    <li><code>&lt;li&gt;</code> - Defines a list item</li>
                    <li><code>&lt;div&gt;</code> - Defines a section of a document</li>
                </ul>
                </p>
                <h2>HTML Attributes</h2>
                <p>HTML tags can also have attributes, which are used to provide additional information about the tag.
                    For example, the <code>&lt;a&gt;</code> tag is used to create hyperlinks and has an
                    <code>href</code> attribute that specifies the URL of the link:
                </p>
                <pre><code>&lt;a href="https://www.example.com"&gt;This is a link&lt;/a&gt;</code></pre>
                <p>Other common attributes include <code>src</code> for specifying the source of an image and
                    <code>class</code> for applying styles to an element with CSS.
                </p>
                <h2>Conclusion</h2>
                <p>HTML is an essential part of web development and provides a way to structure content and add meaning
                    to web pages. By using tags and attributes, you can create rich, interactive web pages that engage
                    your users and provide a great user experience.</p>

        
        </div>
            
    </div>


</body>
</html>