<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Classes</title>
    <link rel="stylesheet" href="/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/assert/logo1.png" type="image/x-icon">

</head>
<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic15">
                <h1 id="main_heading">HTML Classes</h1>
                <p>HTML classes are used to define styles for HTML elements. A class name can be used by multiple HTML
                    elements, and an HTML element can have multiple class names. </p>

                <h2>Syntax</h2>
                <p>The syntax for creating a class in HTML is:</p>
                <pre>.class-name {<br>property: value;<br>} <br></pre>

                <h2>Applying Classes</h2>
                <p>To apply a class to an HTML element, add the class attribute to the opening tag of the element and
                    set its value to the name of the class. For example:</p>
                <pre>&lt;p class="highlight"&gt;This paragraph is highlighted.&lt;/p&gt;</pre>

                <h2>Cascading and Specificity</h2>
                <p>HTML classes follow the cascading and specificity rules. This means that if an HTML element has
                    multiple classes applied to it, the style properties from the class with the highest specificity
                    will be applied. If two classes have the same specificity, then the one that appears last in the CSS
                    code will be applied.</p>

                <h2>Benefits of Using Classes</h2>
                <p>Using classes in HTML has many benefits, including:</p>
                <ul>
                    <li>Consistent styling across multiple elements</li>
                    <li>Easier maintenance and updates to styles</li>
                    <li>Separation of content and presentation</li>
                    <li>Better organization of styles</li>
                </ul>

                <h2>Conclusion</h2>
                <p>HTML classes are a powerful tool for creating consistent and organized styles across multiple
                    elements. By using classes, developers can separate content and presentation, making it easier to
                    maintain and update styles in the future.</p>

            </div>
        </div>
    </div>


</body>

</html>