<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Styles</title>
    <link rel="stylesheet" href="/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/assert/logo1.png" type="image/x-icon">

</head>
<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic7">
                <h1 id="main_heading">HTML Styles</h1>
                <p>HTML styles are used to control the appearance and layout of your web pages. Styles are created using
                    CSS, which stands for Cascading Style Sheets.</p>
                <p>With CSS, you can control everything from the color and size of your text, to the layout and spacing
                    of your web page. Styles can be applied to individual elements, such as headings and paragraphs, or
                    to groups of elements using classes or IDs.</p>
                <p>To create a style for a specific HTML element, you can use the element selector in CSS. For example,
                    to style all of the `&lt;h1&gt;` headings on your web page, you would use the following CSS:</p>
                <pre>h1 {<br>color: blue;<br>font-size: 36px;<br>font-weight: bold;<br>text-align: center;<br>text-decoration: underline;<br>} <br></pre>
                <p>In this example, we've used CSS to set the color of the `&lt;h1&gt;` headings to blue, the font size
                    to 36 pixels, the font weight to bold, the text alignment to center, and the text decoration to
                    underline.</p>
                <p>You can also create styles for groups of elements using classes or IDs. For example, if you wanted to
                    create a highlight style that you could apply to any text on your web page, you could use the
                    following CSS:</p>
                <pre>.highlight {<br>background-color: yellow;<br>font-weight: bold;<br>} <br></pre>
                <p>In this example, we've used CSS to create a `.highlight` class that sets the background color to
                    yellow and the font weight to bold. To apply this style to any text on your web page, you would
                    simply add the `highlight` class to the HTML element, like this:</p>
                <pre>&lt;p&gt;This is some <span class="highlight">highlighted</span> text.&lt;/p&gt;</pre>
                <p>Using styles in HTML is an essential part of creating professional-looking and well-designed web
                    pages. With CSS, you have complete control over the appearance and layout of your web page, making
                    it easy to create a cohesive and visually appealing design.</p>

            </div>
    </div>


</body>

</html>