<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Favicon</title>
    <link rel="stylesheet" href="/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/assert/logo1.png" type="image/x-icon">

</head>
<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic13">
                <h1>HTML Favicon</h1>
                <p>A favicon is a small icon that appears in the browser tab or bookmark list next to the
                    website's name or page title. In HTML, a favicon can be added to a web page using the
                    <code>&lt;link&gt;</code> tag in the head section of the HTML document.
                </p>
                <p>The basic syntax for adding a favicon to an HTML page is:</p>
                <pre>&lt;link rel="icon" type="image/png" href="favicon.png"&gt;</pre>
                <p>Where "favicon.png" is the file name and location of the favicon image on your server or
                    external resource.</p>
                <p>It is important to use a high-quality image for the favicon to ensure that it appears clear
                    and crisp on different devices and screen resolutions. The recommended size for a favicon is
                    32x32 pixels, although other sizes can also be used.</p>
                <p>It's also important to specify the type of the favicon image using the "type" attribute in
                    the <code>&lt;link&gt;</code> tag. For example, if the favicon is a PNG image, you should
                    use "image/png" as the value for the "type" attribute.</p>
                <p>In addition to the basic syntax, there are several other ways to add a favicon to a web page,
                    such as using the <code>&lt;meta&gt;</code> tag or specifying a favicon in the website's
                    root directory. However, using the <code>&lt;link&gt;</code> tag in the head section is the
                    most common and recommended way to add a favicon to a web page.</p>
                <p>Overall, a favicon is a small but important part of web design that can help to enhance the
                    visual appeal of a website and make it more recognizable to users. By understanding how to
                    add a favicon to a web page using the <code>&lt;link&gt;</code> tag and following best
                    practices for creating a high-quality favicon image, you can create a more professional and
                    engaging web presence.</p>

            </div>
        </div>
    </div>


</body>
</html>