<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Headings</title>
    <link rel="stylesheet" href="/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/assert/logo1.png" type="image/x-icon">

</head>
<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic5">
                <h1 id="main_heading">HTML Heading</h1>
                <h2>Heading 1</h2>
                <p>The h1 element is used to define the most important heading on a web page. It should be used
                    sparingly, as it represents the main topic or purpose of the page.</p>

                <h2>Heading 2</h2>
                <p>The h2 element is used to define a sub-heading on a web page. It should be used to introduce a new
                    section or topic that is related to the main heading.</p>

                <h3>Heading 3</h3>
                <p>The h3 element is used to define a sub-sub-heading on a web page. It should be used to introduce a
                    new sub-section or topic that is related to the previous heading.</p>

                <h4>Heading 4</h4>
                <p>The h4 element is used to define a sub-sub-sub-heading on a web page. It should be used to introduce
                    a new sub-sub-section or topic that is related to the previous heading.</p>

                <h5>Heading 5</h5>
                <p>The h5 element is used to define a sub-sub-sub-sub-heading on a web page. It should be used to
                    introduce a new sub-sub-sub-section or topic that is related to the previous heading.</p>

                <h6>Heading 6</h6>
                <p>The h6 element is used to define the least important heading on a web page. It should be used to
                    introduce a minor topic or section that is related to the previous heading.</p>

            </div>
    </div>


</body>

</html>