<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Attributes</title>
    <link rel="stylesheet" href="/public/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/public/assert/logo1.png" type="image/x-icon">

</head>

<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="public//assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html_introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic4">
                <h1 id="main_heading">HTML Attributes</h1>
                <p>HTML attributes are used to provide additional information about HTML elements. Attributes can be
                    used to specify the appearance, behavior, or content of an element.</p>

                <h2>Class and ID Attributes</h2>
                <p>The class and id attributes are used to specify a name for an element. These attributes are used by
                    CSS to apply styles to specific elements on a web page. The class attribute can be used to group
                    multiple elements together, while the id attribute should be unique to a single element.</p>

                <h2>Src and Href Attributes</h2>
                <p>The src attribute is used to specify the location of a file, such as an image or video. The href
                    attribute is used to specify the location of a link, whether it points to another web page or a
                    specific location on the same page.</p>

                <h2>Title and Alt Attributes</h2>
                <p>The title attribute is used to provide additional information about an element. This information is
                    displayed as a tooltip when the user hovers over the element. The alt attribute is used to provide a
                    text description of an image, which is displayed if the image cannot be loaded or is not available
                    to the user.</p>

                <h2>Style and Width/Height Attributes</h2>
                <p>The style attribute is used to apply inline styles to an element. These styles can be used to specify
                    the appearance of an element, such as its color, font, or size. The width and height attributes are
                    used to specify the dimensions of an element, such as an image or table cell.</p>

                <h2>Target and Rel Attributes</h2>
                <p>The target attribute is used to specify where a link should be opened. This can be set to _blank to
                    open the link in a new window or tab, or to _self to open the link in the same window or tab. The
                    rel attribute is used to specify the relationship between the current page and the linked page, such
                    as whether the link is a related page or a link to a different language version of the same page.
                </p>

                <h2>Conclusion</h2>
                <p>These are some of the basic HTML attributes that are used to provide additional information about
                    HTML elements. By using these attributes correctly, you can enhance the appearance, behavior, and
                    content of your web pages.</p>

            </div>

        </div>

    </div>


</body>

</html>