<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Blocks and Inline Elements</title>
    <link rel="stylesheet" href="/public/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/public/assert/logo1.png" type="image/x-icon">

</head>

<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/public/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic14">
                <h1 id="main_heading">HTML Blocks and Inline Elements</h1>
                <p>In HTML, elements are divided into two main categories: block-level and inline elements.</p>

                <h2>Block-Level Elements</h2>
                <p>Block-level elements are those that create a new block of content on the page. They take up the full
                    width of their parent element and start on a new line. Examples of block-level elements include:</p>
                <ul>
                    <li><code>&lt;div&gt;</code></li>
                    <li><code>&lt;p&gt;</code></li>
                    <li><code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code></li>
                    <li><code>&lt;ul&gt;</code> and <code>&lt;ol&gt;</code></li>
                    <li><code>&lt;form&gt;</code></li>
                </ul>
                <p>Here is an example of a block-level element:</p>
                <div class="block">
                    <p>This is a block-level element. It takes up the full width of its parent element and starts on a
                        new line.</p>
                </div>

                <h2>Inline Elements</h2>
                <p>Inline elements, on the other hand, are those that do not create a new block of content on the page.
                    They only take up as much width as necessary to display their content, and can be placed within
                    other elements without disrupting the flow of the document. Examples of inline elements include:</p>
                <ul>
                    <li><code>&lt;a&gt;</code></li>
                    <li><code>&lt;span&gt;</code></li>
                    <li><code>&lt;strong&gt;</code> and <code>&lt;em&gt;</code></li>
                    <li><code>&lt;img&gt;</code></li>
                </ul>
                <p>Here is an example of an inline element:</p>
                <p class="inline">This is an inline element. It only takes up as much width as necessary to display its
                    content, and can be placed within other elements without disrupting the flow of the document.</p>

                <p>It's important to understand the difference between block-level and inline elements in HTML, as it
                    can affect the layout and formatting of your web page. By using block-level elements for larger
                    sections of content and inline elements for smaller pieces of content, you can create a
                    well-structured and visually appealing web page.</p>

            </div>
        </div>
    </div>


</body>

</html>