<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Element</title>
    <link rel="stylesheet" href="/public/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/public/assert/logo1.png" type="image/x-icon">

</head>

<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/public/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic3">
                <h1 id="main_heading">HTML Elements</h1>
                <p>HTML stands for Hyper Text Markup Language. HTML elements are the building blocks of web pages. HTML
                    documents consist of a series of elements, which can be nested inside each other. Each element is
                    defined by a start tag and an end tag, and can contain other elements, as well as text content.</p>

                <h2>Headings</h2>
                <p>Headings are used to define the structure of a web page. There are six levels of headings, from h1 to
                    h6. The h1 element is used for the main heading of the page, while the lower level headings are used
                    for subheadings.</p>

                <h2>Paragraphs</h2>
                <p>The p element is used to define a paragraph of text. Text content can be added to a web page using
                    the p element. Multiple paragraphs can be used to break up large blocks of text.</p>

                <h2>Links</h2>
                <p>The a element is used to create a link to another web page or to a specific location on the same
                    page. The href attribute is used to specify the URL of the page that the link goes to.</p>

                <h2>Images</h2>
                <p>The img element is used to add images to a web page. The src attribute is used to specify the URL of
                    the image file. The alt attribute is used to provide a text description of the image, which is
                    displayed if the image cannot be loaded or is not available to the user.</p>

                <h2>Lists</h2>
                <p>The ul, ol, and li elements are used to create lists on a web page. The ul element is used for an
                    unordered list, while the ol element is used for an ordered list. The li element is used to define
                    each item in the list.</p>

                <h2>Tables</h2>
                <p>The table element is used to create a table on a web page. The tr element is used to define a row in
                    the table, while the td element is used to define each cell in the row. The th element is used to
                    define a header cell in the table.</p>

                <h2>Forms</h2>
                <p>The form element is used to create a form on a web page. The input element is used to create various
                    types of form controls, such as text boxes, radio buttons, and checkboxes. The label element is used
                    to associate a label with a form control.</p>

                <h2>Divs and Spans</h2>
                <p>The div and span elements are used to group and style other elements on a web page. The div element
                    is used to group a block of content, while the span element is used to group an inline element.</p>

                <h2>Conclusion</h2>
                <p>These are some of the basic HTML elements that are used to create web pages. There are many more
                    elements available, each with its own purpose and functionality. By using these elements and their
                    attributes correctly, you can create well-structured and visually appealing web pages.</p>

            </div>
        </div>

    </div>


</body>

</html>