<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | HTML Images</title>
    <link rel="stylesheet" href="/public/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/public/assert/logo1.png" type="image/x-icon">

</head>

<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/public/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a" href="/blog.html-introduction" url="/html_intro">HTML Introduction</a></li>
                <li><a class="a" href="/blog.html-basic">HTML Basic</a></li>
                <li><a class="a" href="/blog.html-element">HTML Element</a></li>
                <li><a class="a" href="/blog.html-attributes">HTML Attributes</a></li>
                <li><a class="a" href="/blog.html-headings">HTML Headings</a></li>
                <li><a class="a" href="/blog.html-paragraphs">HTML Paragraphs</a></li>
                <li><a class="a" href="/blog.html-styles">HTML Styles</a></li>
                <li><a class="a" href="/blog.html-formating">HTML Formating</a></li>
                <li><a class="a" href="/blog.html-comment">HTML Comment</a></li>
                <li><a class="a" href="/blog.html-color">HTML Color</a></li>
                <li><a class="a" href="/blog.html-links">HTML Links</a></li>
                <li><a class="a" href="/blog.html-images">HTML Images</a></li>
                <li><a class="a" href="/blog.html-favicon">HTML Favicon</a></li>
                <li><a class="a" href="/blog.html-blocks-inline">HTML Blocks & Inline</a></li>
                <li><a class="a" href="/blog.html-classes">HTML Classes</a></li>
                <li><a class="a" href="/blog.html-id">HTML Id</a></li>
                <li><a class="a" href="/blog.html-matatages">HTML Matatags</a></li>
            </ul>
        </div>


        <div class="right-section" id="content">
            <div id="topic12">
                <h1 id="main_heading">HTML Images</h1>
                <p>Images are an important part of web design and can be used to enhance the visual appeal of a
                    website or provide additional information to users. In HTML, images are added to a web page
                    using the <code>&lt;img&gt;</code> tag.</p>
                <p>The basic syntax for adding an image to an HTML page is:</p>
                <pre>&lt;img src="image.jpg" alt="image description"&gt;</pre>
                <p>Where "image.jpg" is the file name and location of the image on your server or external
                    resource, and "image description" is a text description of the image that is displayed in
                    case the image cannot be loaded or for accessibility purposes.</p>
                <p>It is important to use descriptive text for the alt attribute to ensure that visually
                    impaired users can understand what the image is about.</p>
                <p>In addition to the source and alt attributes, the <code>&lt;img&gt;</code> tag can also
                    include other optional attributes such as width, height, and border. Here's an example:</p>
                <pre>&lt;img src="image.jpg" alt="image description" width="500" height="300" border="1"&gt;</pre>
                <p>In this example, the image will be displayed with a width of 500 pixels, a height of 300
                    pixels, and a border of 1 pixel.</p>
                <p>HTML images can also be styled using CSS to change their appearance. For example, you can add
                    a border, change the size or position, or apply filters to an image using CSS. Here's an
                    example of how to add a border to an image:</p>
                <pre>&lt;style&gt;<br>img <br>border: 1px solid black;<br><br>&lt;/style&gt;<br>&lt;img src="image.jpg" alt="image description"&gt;</pre>
                <p>In this example, the image will be displayed with a black border that is 1 pixel wide.</p>
                <p>Overall, images are an important part of web design and can be used to enhance the visual
                    appeal of a website or provide additional information to users. By understanding how to use
                    the <code>&lt;img&gt;</code> tag and how to apply styles to images using CSS, you can create
                    more engaging and effective web pages.</p>

            </div>
        </div>
    </div>


</body>

</html>