@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=DM+Mono:wght@300&family=Dancing+Script:wght@700&family=Kalam&family=Pacifico&family=Rock+Salt&display=swap');

:root {
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info>img{
  width: 50px;
  height: 50px;
}

.info>p{
  display: inline-;
  font-size: 0.8rem;

}
body {
  width: auto;
  height: 100vh;
  background-color: rgb(26, 25, 25);
  background: linear-gradient(to top right, rgba(7, 0, 0, 0.596)), rgb(0, 0, 0);
}

#title {
  font-family: 'Rock Salt', cursive;
  color: white;
}

h1 {
  font-size: 1.2rem;
}


.container {
  height: 88vh;
  width: 96%;
  margin: 0 auto;
  background-color: #00000000;
  border-radius: 5px;
  display: flex;
}

.header {
  display: flex;
  height: 8vh;
  margin: 1vh 5vw 0 5vw;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(255, 255, 255);
  padding: 0 4px 0 4px;
  
  font-family: Kalam;
  font-size: 0.7rem;
}


.links {
  float: right;
  right: 0;
  margin: auto;
  width: 20vw;
}

.links>a {
  margin: 0 3vw;
  margin-top: 2vh;
  color: crimson;
  text-decoration: none;
}

.title1 {
  width: 60vw;
}

#btn_save {
  color: white;
  text-decoration: none;
cursor: pointer;

}

#btn_save {
  margin: auto;
  width: 20vw;
}

.left-section {
  width: 50%;
  background-color: #00000000;
  /* background: linear-gradient(rgb(241, 0, 0), rgb(194, 97, 113), rgb(54, 198, 255), rgba(255, 255, 0, 0.699)); */
  background-size: 50% 100%;
  animation: gradient 5s ease-in infinite;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.right-section {
  background-color: #fff;
  width: 50%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

#prev {
  font-family: Caveat;
}

#result {
  width: 100%;
  height: 100%;
}

.html-code {
  width: 99%;
  height: 32%;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  outline: none;
  position: relative;
  resize: none;
  border-radius: 5px;
  font-size: 0.6rem;
  font-family: 'DM Mono', monospace;

  font-weight: 600;
  color: rgb(255, 255, 255);
  /* background-color: rgb(49, 195, 253); */
  background-color: #000000;
}

.css-code {
  width: 99%;
  height: 32%;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  outline: none;
  position: relative;
  resize: none;
  border-radius: 5px;
  font-size: 0.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  /* background-color: rgb(49, 195, 253); */
  background-color: #000000;
  font-family: 'DM Mono', monospace;

}

.js-code {
  width: 99%;
  height: 32%;
  padding-bottom: 1%;
  margin-top: 1%;
  outline: none;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-radius: 5px;
  position: relative;
  resize: none;
  font-size: 0.6rem;
  color: #fff;
  font-weight: 600;
  /* background-color: rgb(252, 255, 56); */
  background-color: #000000;
  font-family: 'DM Mono', monospace;
}

.header {
  color: white;
  display: flex;
}

.info {
  height: 6vh;
  color: white;
  font-size: 0.4rem;
  width: 90%;
  /* border: 2px solid white; */
}

span {
  display: flex;
}

.file {
  /* border: 2px solid white; */
  height: 6vh;
  color: white;
  width: 10%;
}

#btn_save {
  color: white;
  background-color: #4154ff;
  width: 7vw;
  font-size: 1rem;
  border-radius: 9px;
  outline: none;
  border: none;
  font-weight: 700;
  height: 5vh;
  margin: 3px 0 0 10px;

}