<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Start | Geeks Force</title>
    <link rel="stylesheet" href="/public/components/getting_start/style.css" class="css">
    <link rel="shortcut icon" href="/public/assert/logo1.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo">
            <h1>CODE HELP </h1>
        </div>
        <div class="nav-links">
            <a id="home" href="#">Home</a>
            <a href="#mcourse">Courses</a>
            <a href="/tools">Tools</a>
            <a href="/lab">Code Editor</a>
            <a href="/contact">Contact/Help</a>
            <a href="/about">About</a>
        </div>
    </header>

    <main>

        <section id="left-section">
            <div class="heading">
                <h1>GEEKS <br> FORCE</h1>
            </div>

            <div class="location">
                <h3>CODE HELP BY MANOJ </h3>
            </div>

            <div class="para">
                <p>This is a code editor by geeksforce to build website or practice on website development</p>
            </div>
            <form action="setincookie()">
                <input id="inp1" type="text" placeholder="Enter a new file name !" id="file_name" required>
                <div class="btn"><a id="btn1" href="/lab" onclick="getdata()">Lets Go!</a></div>
            </form>
        </section>


        <section id="right-section">
            <center>
                <p id="prevcodes">Previous Code Files</p>
            </center>
            <div class="files">
                <ul>
                    <!-- Iterate over the filenames and generate <li> tags -->
                    <% filenames.forEach(filename=> { %>
                        <li><a onclick="getfilecodes('<%= filename %>')">
                                <%= filename %>
                            </a></li>
                        <hr>
                        <% }) %>
                </ul>

            </div>
        </section>

    </main>
    <center>
        <footer>
            <h2>Code Help By ❤️ Manoj</h2>
        </footer>
    </center>
</body>
<script>
    function setCookie(name, value, expirationDays) {
        const date = new Date();
        date.setTime(date.getTime() + (expirationDays * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = name + "=" + encodeURIComponent(value) + ";" + expires + ";path=/";
    }
    function getdata() {
        const file_name = document.getElementById('inp1').value;
        setCookie('filename', file_name, 1);
    }
    function getfilecodes(filename) {
        setCookie('getfilecodes', filename);
        setCookie('filename', filename);
        window.location.href = '/labfiledata';


    }
</script>

</html>