<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksForce | CSS Selectors and Specificity</title>
    <link rel="stylesheet" href="/components/courses/html/html_course_style.css">
    <link rel="shortcut icon" href="/assert/logo1.png" type="image/x-icon">
</head>

<body>
    <div class="header">
        <nav>
            <div class="p1 logo">
                <img src="/assert/main_logo.png" alt="Logo">
                <span>GeeksForce</span>
            </div>
            <div class="p2">
                <div class="links">
                    <a id="home" href="/">Home</a>
                    <a href="/blog.html-introduction">HTML</a>
                    <a href="/blog.introduction-to-css">CSS</a>
                    <a href="/blog.introduction-to-javascript">JS</a>
                    <a href="/blog.introduction-to-react">React.JS </a>
                    <a href="/blog.introduction-to-nodejs">Node.Js</a>
                </div>
            </div>
            <div class="p3">
                <button><a target="_blank" href="https://chat.openai.com/">GPT</a></button>
                <button><a href="">Post</a></button>
            </div>
        </nav>

    </div>


    <div class="main">



        <div class="left-section">
            <ul>
                <li><a class="a"  href="/blog.introduction-to-css">Introduction to CSS and its syntax</a></li>
                <li><a class="a"  href="/blog.selectors-and-specticificity">Selectors and specificity</a></li>
                <li><a class="a"  href="/blog.box-model">Box model</a></li>
                <li><a class="a"  href="/blog.display-and-positioning">Display and positioning</a></li>
                <li><a class="a"  href="/blog.css-typrography">CSS typography</a></li>
                <li><a class="a"  href="/blog.colors-and-backgrounds">Colors and backgrounds</a></li>
                <li><a class="a"  href="/blog.css-layout-techniques">CSS layout techniques</a></li>
                <li><a class="a"  href="/blog.media-queries">Responsive design with media queries</a></li>
                <li><a class="a"  href="/blog.css-frameworks">CSS frameworks like Bootstrap</a></li>
                <li><a class="a"  href="/blog.css-preprocessors">CSS preprocessors like Sass and LESS</a></li>
                <li><a class="a"  href="/blog.css-animations">CSS animations and transitions</a></li>
                <li><a class="a"  href="/blog.css=naming-convention">CSS best practices and naming conventions</a></li>
                <li><a class="a"  href="/blog.debugging-troubleshooting ">Debugging and troubleshooting CSS</a></li>
                <li><a class="a"  href="/blog.browser-compatibility">Browser compatibility</a></li>
                <li><a class="a"  href="/blog.performance-optimization">Performance optimization</a></li>
                <li><a class="a"  href="/blog.css-flexbox">CSS Flexbox</a></li>
                <li><a class="a"  href="/blog.css-grid">CSS Grid</a></li>
                <li><a class="a"  href="/blog.css-advance">CSS Advance</a></li>

            </ul>
        </div>


        <div class="right-section" id="content">

            <div id="topic2">
                <h1 id="main_heading">CSS Selectors and Specificity</h1>
                <p>CSS selectors are used to target HTML elements and apply styles to them. There are several types of
                    selectors in CSS, including:</p>
                <ul>
                    <li>Element selectors</li>
                    <li>Class selectors</li>
                    <li>ID selectors</li>
                    <li>Attribute selectors</li>
                    <li>Combination selectors</li>
                </ul>
                <p>Each type of selector has its own syntax and behavior, and can be used to target different types of
                    elements within an HTML document.</p>
                <h2>Specificity</h2>
                <p>When multiple CSS rules apply to the same element, the specificity of each rule determines which
                    styles are applied. Specificity is calculated based on the types of selectors used in each rule, and
                    the order in which they appear in the stylesheet.</p>
                <p>The following factors contribute to the specificity of a CSS rule:</p>
                <ul>
                    <li>Number of ID selectors</li>
                    <li>Number of class selectors, attribute selectors, and pseudo-classes</li>
                    <li>Number of element selectors and pseudo-elements</li>
                    <li>The order in which the selectors appear</li>
                </ul>
                <div class="example">
                    <p>This is an example of how CSS specificity works:</p>
                    <p class="special">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique lorem sit
                        amet elit tincidunt, in pharetra nisi commodo. Aenean bibendum dolor augue, vel posuere arcu
                        gravida ac.</p>
                    <p>In the example above, the second paragraph has the class <code>.special</code>, which gives it a
                        higher specificity than the other paragraphs. As a result, it is displayed in italics.</p>
                </div>

            </div>


        </div>
    </div>
</body>

</html>